---
layout: splash
title: Hi, I'm Ben
author_profile: false
hidden: true
header:
    overlay_color: "#000"
    overlay_filter: "0.5"
    overlay_image: /assets/images/home-feature.jpg
excerpt: "DevOps Engineer & Tech Enthusiast"
---

<h2>
    {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}
</h2>

{% if paginator %} {% assign posts = paginator.posts %} {% else %} {% assign
posts = site.posts %} {% endif %} {% for post in posts %} {% include
archive-single.html %} {% endfor %} {% include paginator.html %}
