---
layout: splash
title: Hi, I'm Ben
author_profile: false
hidden: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/home-feature.jpg

  actions:
    - label: "Read blog"
      url: "/posts/"  
    - label: "About me"
      url: "/about/"  
excerpt: "Tech Enthusiast and Computer Science Student. Welcome to my personal website and blog."
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

    {% if paginator %}
    {% assign posts = paginator.posts %}
    {% else %}
    {% assign posts = site.posts %}
    {% endif %}

    {% for post in posts %}
    {% include archive-single.html %}
    {% endfor %}

    {% include paginator.html %}

